body {
  margin: 0
}

.main-container {
  max-width: 850px;
  background-color: #f5eae0;
  margin: 0 auto;
  padding: 10px 0px;
}

.header {
  text-align: center;
  font-family: "Cormorant", serif;
}

.heading {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 300;
}

.desc {
  font-size: 18px;
  max-width: 502px;
  margin: 0 auto;
  margin-top: 10px;
}

.calendar {
  display: flex;
  align-items: center;
  font-family: 'Roboto', serif;
  font-weight: 300;
  font-size: 14px;
  gap: 40px;
  margin-top: 20px;
  padding: 15px;
  border-top: 1px solid #CDBEB4;
  border-bottom: 1px solid #CDBEB4
}

.month {
  cursor: pointer
}


.active {
  padding: 8px 15px;
  border-radius: 20px;
  background-color: #DC874B;
  color: #fff;
}