body {
  background-color: #f5eae0;
  font-family: "Cormorant", serif;
  margin-top: 30px;
}

.main-container {
  max-width: 850px;
  margin: 0 auto;
}

.header {
  text-align: center;
}

.heading {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 300;
}

.desc {
  font-size: 18px;
  max-width: 502px;
  margin: 0 auto;
  margin-top: 10px;
}

.calendar {
  display: flex;
  gap: 5px;
  margin-top: 20px;
  padding: 20px;
  border-top: 1px solid #CDBEB4;
  border-bottom: 1px solid #CDBEB4
}

